</div>

<script>
	const alertBox = document.querySelector('.alert');

	if (alertBox.textContent.length > 0) {
		setTimeout(() => {
			alertBox.style.display = 'none';
		}, 3000);
	}
</script>
</body>

</html>