<%- include('partials/head') %>

<main class="main">
	<section class="main-page">
		<div class="left">
			<form action="/forgot-password" method="post">
				<h3>Salasana unohtui</h3>
				<div class="form-field">
					<label for="email">Sähköposti:</label>
					<input type="email" name="email" required>
					<small>Lähetämme sinulle salasanan vaihto-ohjeet sähköpostitse.</small>
				</div>
				<div class="form-button">
					<button type="submit">Lähetä</button>
				</div>
			</form>
		</div>
		<div class="right">
			<div id="map"></div>
		</div>
	</section>
</main>

<script src="/static/js/socket.io.min.js"></script>
<script src="/static/js/map.js"></script>
<%- include('partials/footer') %>